{  
   "models":[  
      {  
         "id":"0",
         "file_name":"bayes.estimator",
         "json": true,
         "initializer": "bayes",
         "dictionary": {}
      },
      {  
         "id":"1",
         "file_name":"linearRegression.estimator",
         "initializer": "",
         "json": false,
         "dictionary": {"aoa": "a"}
      }
   ]
}